version: '3.8'
services:
  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - redis-vol:/var/lib/redis
    ports:
      - 6379:6379
    networks:
      - fifa-network

  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
      - MONGO_INITDB_DATABASE=fifa-db
    volumes:
      - mongo-vol:/data/db
    restart: on-failure
    ports:
      - 27017:27017
    networks:
      - fifa-network

networks:
  fifa-network:
    driver: bridge
volumes:
  redis-vol: {}
  mongo-vol:
    driver: local
